<button {{action 'renderColumn'}} id='rendcolumn'>Column chart</button>
<button {{action 'renderBar'}} id='rendbar'>Bar chart</button>
<button {{action 'renderLine'}} id='rendline'>Line chart</button>
<button {{action 'renderArea'}} id='rendarea'>Area chart</button>
<br />

<br />
<form>
  <div id='chart-container'>FusionCharts will render here</div>
  <br />
</form>